/* .monthlyherald_main_content{
    margin-left: 150px;
} */

.monthlyherald_main_content {
  width: 100%;
  padding: 20px;
  background-color: #f8f9fa;
  overflow-x: hidden;
}

@media (max-width: 768px) {
  .monthlyherald_main_content {
    padding: 70px 15px 15px; 
  }
}
