.my-classes-container {
    padding: 20px;
    background-color: #fcf9f9;
    max-height: 100vh;
    /* margin-left: 50px; */
}

.notification-btn {
 background: linear-gradient(90deg, #074799, #35A6FA);
    border: none;
    
    padding: 10px 12px;
    border-radius: 10px;
}

.class-card {
    border-radius: 15px;
    border: 1px solid #f0f0f0;
}

.grade-circle {
    width: 100px;
    height: 100px;
    background: #E3F2FD;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-line {
    margin-bottom: 4px;
}

.calendar-card {
    border-radius: 15px;
}

.calendar-table {
    width: 100%;
    margin-top: 15px;
    text-align: center;
    border-collapse: collapse;
}
.myclassHeader {
    border-bottom: 1px solid #c0bbbb;
}

.calendar-table th {
    font-size: 13px;
    color: #777;
    padding-bottom: 6px;
}

.calendar-table td {
    padding: 10px;
    cursor: pointer;
    border-radius: 8px;
}

.calendar-table td:hover {
    background: #f1f5ff;
}

.active-day {
 background: linear-gradient(90deg, #074799, #35A6FA);
    color: white;
    border-radius: 8px;
}

.schedule-card {
    border-radius: 15px;
    border: 1px solid #f0f0f0;
}

.date-box {
    width: 60px;
    height: 60px;
    background: #b6dcf7;
    border-radius: 12px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    color: #1A73E8 !important;
}

.period-badge {
    padding: 4px 10px;
    background: #F8F9FB;
    border-radius: 8px;
    font-size: 12px;
    font-weight: bold;
}
