.sidebar {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-right: 1px solid #ddd;
  overflow-y: auto;
  transition: all 0.3s ease;
 
 
  
}

.logo {
  max-width: 180px;
  width: 100%;
}

.nav-link {
  text-decoration: none;
  margin-bottom: 10px;
  display: block;
}

.nav-item {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 15px;
  color: #333;
  border: #d4cdcd solid 1px;
  padding: 10px;
  border-radius: 8px;
  transition: 0.2s;
}

.nav-item:hover {
  background: linear-gradient(90deg, #074799, #35A6FA);
  color: white;
  transform: translateX(5px);
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 12px;
}
